.section1 {
  border-bottom: 5px solid;
  justify-content: space-between;

  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 10vh;
  background-color:#363636;
}
body {
  margin: 0px;
}
.section2 {
  background-color: #363636;
  height: 100vh;
  width: 20vw;
}
.section3 {
  height: 10000vh;
  width: 50vw;
  background-color:#363636;
  border-left : 5px solid;
  border-right:5px solid ;
 
}
.section4 {
    display: flex;
    flex-direction: column;
    align-items: end;
  height: 100vh;
  width: 35vw;
  background-color:#363636;
  border: 5px transparent;
}
main {
  display: flex;
  flex-direction: row;
}
.a {
  display: flex;
  width: 65px;
  height: 65px;
  justify-content: center;
}
div h4 {
  width: 20vw;
  height: 7vh;
  border: 1px solid rgba(67, 67, 67, 0.677);
  border-radius: 50px;
}
.b {
  width: 55px;
  height: 55px;
}
.part1 {
  display: flex;
  justify-content: start;
  align-items: start;
}
.part2 {
  display: flex;
  justify-content: center;
 
  gap: 5px;
  width: 10vw;
  height: 10vh;
  background-color: rgba(168, 168, 168, 0.484);
}

.d {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
.d img {
  width: 50px;
  height: 50px;
}
* {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.ads {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  flex-direction: row;
}
.q {
  border: 4px;
  border-radius: 30px;
  width: 40vh;
  height: 65vh;
}
.section3 {
  display: flex;
  justify-content: center;
  border: 5 solid rgba(67, 67, 67, 0.677);
}
.part3 {
  display: flex;
  justify-items: end;
}
.wg {
  display: flex;
  width: 100px;
  height: 10px;}

