@media screen and (min-width: 1000px) and (max-width: 1800px) {
  a {
    text-decoration: none;
  }

  header {
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
  }
  #a {
    width: 55px;
    height: 60px;
  }
  #halp {
    border-left: #ffff solid;
    color: #ffff;
  }
  .diver {
    .tyi {
      position: absolute;
      visibility: visible;
    }
    .tui {
      visibility: hidden;
    }
    gap: 5px;
    display: flex;
  }
  .diver :hover {
    color: #dadbf1;
    .tyi {
      position: absolute;
      visibility: hidden;
    }
    .tui {
      visibility: visible;
    }
    #halp {
      color: #dadbf1;
    }
  }
  .devir {
    gap: 10px;
    display: flex;
  }
  * {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  header h3 {
    color: #ffff;
  }
  .light {
    display: flex;
    background-color: #dadbf1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
  }
  main {
    width: 100vw;
  }
  footer {
    width: 100vw;
    height: 10vh;
  }
  body {
    margin: 0cap;
  }
  .searchbar {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: space-around;
    width: 45vw;
    height: 10vh;
    gap: 420px;
    display: flex;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #ffff;
    align-items: center;
  }
  .what {
    width: 80px;
    height: 80px;
  }
  .h22 {
    font-weight: bold;
  }
  .whatever {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
    justify-content: center;
    gap: 50px;
  }
  .er {
    display: flex;
    align-items: center;
    width: 40vw;
  }

  footer {
    display: flex;
    height: 48vh;
    background-color: black;
    color: #ffff;
    justify-content: space-around;
  }
  .help {
    display: flex;
    position: fixed;
    top: 640px;
    right: 2px;
    border: 4px transparent;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 100px;
    background-color: rgb(102, 102, 186);
    justify-content: center;
  }
  .erme {
    border: 10px solid yellow;
    border-radius: 20px;
  }
  .rt {
    height: 46px;
    width: 15vw;
    background-color: #1b1b1b;
    border: #ffff solid 2px;
    border-radius: 10px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rt1 {
    height: 46px;
    background-color: rgb(102, 102, 186);
    color: #ffff;
    width: 8vw;
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ty {
    font-size: 80px;
  }

  .rt1:hover {
    background-color: white;
    color: black;
  }
  .party {
    font-size: xx-large;
  }
  .searchbar:hover {
    border: rgb(102, 102, 186) 2px solid;
    .party {
      color: rgb(102, 102, 186);
    }
  }
  .ggs:hover {
    text-decoration: underline;
  }
  .ggs {
    color: rgb(102, 102, 186);
  }
  .f{
    display: flex;
    flex: wrap;
  }
  .nah{
    gap: 4px;
    display: flex;
    flex-direction: column;
    color: #ffff;
  }
  .nah a{
    color: #ffff;
  }
  .nah a:hover {
    text-decoration: underline;
  }
  .erme{
    width: 30vw;
    height: 20vh;
  }
}
@media screen and (min-width: 369px) and (max-width: 1000px) {
  a {
    text-decoration: none;
  }

  header {
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  #a {
    width: 55px;
    height: 60px;
  }
  #halp {
    border-left: #ffff solid;
    color: #ffff;
  }
  .diver {
    .tyi {
      position: absolute;
      visibility: visible;
    }
    .tui {
      visibility: hidden;
    }
    gap: 5px;
    display: flex;
  }
  .diver :hover {
    color: #dadbf1;
    .tyi {
      position: absolute;
      visibility: hidden;
    }
    .tui {
      visibility: visible;
    }
    #halp {
      color: #dadbf1;
    }
  }
  .devir {
    gap: 10px;
    display: flex;
  }
  * {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  header h3 {
    color: #ffff;
  }
  .light {
    display: flex;
    background-color: #dadbf1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
  }
  main {
    width: 100vw;
  }
  footer {
    width: 100vw;
    height: 10px;
  }
  body {
    margin: 0cap;
  }
  .searchbar {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: space-around;
    width: 45vw;
    height: 8vh;
    gap: 260px;
    display: flex;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #ffff;
    align-items: center;
  }
  .what {
    width: 80px;
    height: 80px;
  }
  .h22 {
    font-weight: bold;
  }
  .whatever {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
    justify-content: center;
    gap: 50px;
  }
  .er {
    display: flex;
    align-items: center;
    width: 40vw;
  }

  footer {
    display: flex;
    height: 48vh;
    background-color: black;
    color: #ffff;
    justify-content: space-around;
  }
  .help {
    display: flex;
    position: fixed;
    top: 640px;
    right: 2px;
    border: 4px transparent;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 100px;
    background-color: rgb(102, 102, 186);
    justify-content: center;
  }
  .erme {
    border: 10px solid yellow;
    border-radius: 20px;
  }
  .rt {
    height: 46px;
    width: 15vw;
    background-color: #1b1b1b;
    border: #ffff solid 2px;
    border-radius: 10px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rt1 {
    height: 46px;
    background-color: rgb(102, 102, 186);
    color: #ffff;
    width: 8vw;
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ty {
    font-size: 80px;
  }

  .rt1:hover {
    background-color: white;
    color: black;
  }
  .party {
    font-size: xx-large;
  }
  .searchbar:hover {
    border: rgb(102, 102, 186) 2px solid;
    .party {
      color: rgb(102, 102, 186);
    }
  }
  .ggs:hover {
    text-decoration: underline;
  }
  .ggs {
    color: rgb(102, 102, 186);
  }
  .f{
    display: flex;
    flex: wrap;
  }
  .nah{
    gap: 4px;
    display: flex;
    flex-direction: column;
    color: #ffff;
  }
  .nah a{
    color: #ffff;
  }
  .nah a:hover {
    text-decoration: underline;
  }
  .erme{
    width: 30vw;
    height: 20vh;
  }
  
}
