h1{
    text-align: center;
}
main{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
footer{
    background-color: rgb(130, 119, 119);
}
#tdd{
    align-self: center;
}
image{
    width: 800px;
    
    
}
body{
    color: black

}